    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/github.png" class="img-fluid" id="fotoperfil"> <!--/*buscar foto cv*/  -->
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Verónica Elizabeth Petrelli</p>
            <p>Full Stack Developer Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, porro magni excepturi dolor alias nemo animi rerum libero itaque modi inventore possimus at voluptate similique quasi iure nesciunt impedit assumenda.</p>
            </span>
        </div>
    </div>

