<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://www.linkedin.com/in/veronicapetrelli/" target="_blank" rel="noopener noreferrer"><img src="../../../assets/linkedin.png" id="linkedin" alt=""></a>
                <a href="https://github.com/vepetrelli" target="_blank" rel="noopener noreferrer"><img src="../../../assets/github.png" id="github" alt=""></a>
                <a href="https://www.instagram.com/veropetrelli" target="_blank" rel="noopener noreferrer"><img src="../../../assets/instagram.png" id="instagram" alt=""></a>
                <a href="https://www.facebook.com/vero.petrelli/" target="_blank" rel="noopener noreferrer"><img src="../../../assets/facebook.png" id="facebook" alt=""></a>
                <a href="mailto:vepetrelli@gmail.com"><img src="../../../assets/gmail5.png" id="gmail" alt=""></a>           
                <button class="btn btn-outline-dark" (click)="login()" *ngIf="!isLogged">Ingresar</button>
                <button class="btn btn-outline-dark" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesión</button>
            </div>
    </div>
</div>


