<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href=""><img src="../../../assets/linkedin(1).png" id="linkedin" alt=""></a>
                <a href=""><img src="../../../assets/github.png" id="github" alt=""></a>
                <a href=""><img src="../../../assets/instagram.png" id="instagram" alt=""></a>
                <a href=""><img src="../../../assets/facebook.png" id="facebook" alt=""></a>
                <a href=""><img src="../../../assets/gmail5.png" id="gmail" alt=""></a>           
                <button type="button" class="btn btn-outline-dark">Ingresar</button>
            </div>
    </div>
</div>


