<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Trabajo 1</h1> - <h3>(years)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus maxime perspiciatis expedita omnis facilis! Error ipsam harum, nesciunt quibusdam quae quod necessitatibus rerum facere adipisci vero alias, voluptatum fuga maiores!</p>
            <li> <h1>Trabajo 2</h1> - <h3>(years)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus maxime perspiciatis expedita omnis facilis! Error ipsam harum, nesciunt quibusdam quae quod necessitatibus rerum facere adipisci vero alias, voluptatum fuga maiores!</p>
            <li> <h1>Trabajo 3</h1> - <h3>(years)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus maxime perspiciatis expedita omnis facilis! Error ipsam harum, nesciunt quibusdam quae quod necessitatibus rerum facere adipisci vero alias, voluptatum fuga maiores!</p>
        </ul>
    </div>
</div>
