<div class="container" *ngIf="skills">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreS">Nombre de la skill</label>
                    <input type="text" class="form-control" id="nombreS" name="nombreS" [(ngModel)]="skills.nombreS" required>
                </div>
                <div class="form-group">
                    <label for="porcentajeS">Porcentaje de la skill</label>
                    <input type="text" class="form-control" id="porcentajeS" name="porcentajeS" [(ngModel)]="skills.porcentajeS" required>
                </div>
                <div class="form-group">
                    <label for="imgS">Imagen de la skill</label>
                    <input type="text" class="form-control" id="imgS" name="imgS" [(ngModel)]="skills.imgS" required>
                </div>
                <button class="btn btn-primary">
                    Editar Skill
                </button>
            </form>
        </div>
    </div>
</div>
