<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="col-lg-6">
            <button type="button" class="btn btn-dark" routerLink="/nuevoproy" *ngIf="isLogged">
                Agregar Proyecto
            </button>
    </div>

        <div class="content justify-content-center">
            <div class="card" *ngFor="let Proyectos of proy">
                <img src="{{Proyectos.imgP}}" style="width:100wh; height: 40vh">
                    <p class="content"><h2>{{Proyectos.nombreP}}</h2>
                    <p><i class="content"></i>{{Proyectos.descripcionP}}</p>
                    <p><i class="content"></i>{{Proyectos.anoP}}</p>
                    <div id="botones">
                        <td *ngIf="isLogged"><button class="btn btn-light" routerLink="/editproy/{{Proyectos.id}}"><i class="bi bi-pencil-fill"></i>EDITAR</button></td>
                        <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Proyectos.id)"><i class="bi bi-trash3-fill"></i>BORRAR</button></td>
                 </div>
            </div>
        </div>
        </div>

