<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Proyecto 1</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, hic ullam. Excepturi tenetur explicabo, facere magni dolor sunt dolorem sit mollitia architecto ullam doloribus aspernatur beatae delectus voluptates ratione non.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/facebook.png" class="img-fluid img-proyecto"> <!-- agregar imagen del proyecto y poner href para que redireccione al proyecto -->
        </div>
    </div>
</div>