    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="profesion">Profesion</label>
                    <input type="text" class="form-control" id="profesion" name="profesion" [(ngModel)]="profesion" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción personal</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
                </div>
                <div class="form-group">
                    <label for="img">URL imagen </label>
                    <input type="text" class="form-control" id="img" name="img" [(ngModel)]="img" required>
                </div>
                <button class="btn btn-primary">
                    Agregar 
                </button>
            </form>
        </div>
    </div>

